# Default ignored files from .idea
*shelf/

# Compiled files
/MT2-project-ImageProcessing/plugins/
*.class

# Archives
*.zip
*.tar.gz
*.tar
*.rar

# macOS cache files
.DS_Store

# Temporary files
*.tmp
